<div class="nav-bar-container">
    <img src="./assets/imgs/logo.png" class="app-logo"/>
    <div class="nav-items">
        <button *ngFor="let navigationEntry of navigationConfiguration;let i = index;"
        class="nav-item"
        [ngStyle]="applyStyleForSelectedItem(navigationEntry.selected)"
        (click)="navigateTo($event, navigationEntry.navigationPath, i)" >{{navigationEntry.label}}</button>
        <button class="nav-item" (click)="toggleUserModal()" *ngIf="userData">Profile</button>
        <button class="nav-item login" (click)="toggleUserModal()" *ngIf="!userData">Login</button>
        <button class="nav-item login" (click)="logoutUser()" *ngIf="userData">Logout</button>
    </div>
</div>